<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-black px-3">
        <span class="navbar-brand fw-bold">
            ELECTRO_LOGIC <span class="text-info">WMS</span>
        </span>

        <div class="menu-bar ms-3">
            <button class="btn btn-menu" onclick="location.href='/dashboard'">Dashboard</button>
            <button class="btn btn-menu" onclick="location.href='/inventory-orders-receiving'">Inventory</button>
            <button class="btn btn-menu" onclick="location.href='/inventory-orders-receiving'">Orders</button>
            <button class="btn btn-menu" onclick="location.href='/inventory-orders-receiving'">Receiving</button>
            <button class="btn btn-menu" onclick="location.href='/shipping'">Shipping</button>
            <button class="btn btn-menu" onclick="location.href='/reports'">Reports</button>
        </div>

        <div class="ms-auto d-flex gap-3 align-items-center">
            <i class="bi bi-bell"></i>
            <i class="bi bi-person-circle"></i>
            <input class="form-control form-control-sm search-box" placeholder="Search & Enter">

            <button class="btn btn-outline-danger btn-sm" onclick="location.href='/logout'">Logout
            </button>
        </div>
    </nav>

</body>

</html>